# Git
.git
.gitignore

# IDE and editor files
.idea/
.vscode/
*.swp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
bower_components/

# Build output
dist/
build/

# Docker files - prevent including in image context
Dockerfile
.dockerignore
compose.yml
docker-compose.yml

# Other
README.md
.env
